.dashboard_container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
.currentlyReading,
.socialCard_dashboard {
  flex: 1;
  padding: 20px;
}
.currently-reading {
  display: flex;
  margin-top: 10px;
}
.socialCard_dashboard {
  flex-direction: column;
}

.gr-book_title {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  word-wrap: break-word;
  width: 300px;
}
.cr-thumb-nail {
  width: 100px;
}

.cr-thumbnail {
  width: 120%;
}
.cr-gr-book_details > * {
  margin-left: 30px;
}
.gr-book-progress {
  width: 100%;
}
.progress {
  height: 30px;
  width: 150px;
  border-radius: 10px;
  font-size: 14px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
.progress:hover {
  background-color: rgb(244, 234, 222);
}
.progressElement {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  background-color: #7ea985;
}

/* Custom styling for the progress bar */
.progressElement::-webkit-progress-bar {
  background-color: #a9b8ab;
  border-radius: 5px;
}

.progressElement::-webkit-progress-value {
  background-color: #197a64;
  border-radius: 5px;
}

.progressBar {
  display: flex;
  gap: 5px;
  margin-top:5px;
}
