* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  /* width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center; */
}
.box-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
.current,
.social {
  width: 200px;
  padding: 15px;
  min-width: 430vh;
}
.gr-book_title {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  word-wrap: break-word;
}
.thumb-nail {
  max-width: 120px;
}
.thumbnail {
  width: 100%;
}
.currently-reading {
  display: flex;
  margin-top:20px;
}
.gr-book_details > * {
  margin-top: 10px;
  margin-left: 10px;
}
.gr-book-progress{
  width:100%;
}
.progress{
  height:30px;
  width:200px;
  border-radius: 10px;
  font-size: 14px;
  margin-left:0;
  margin-right:0;
}
